@{
    ViewData["Title"] = "Home Page";
}

    <section class="hero">
        <div>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate quaerat excepturi quis tempora
                veritatis
                odio sunt obcaecati! In sit magni blanditiis illum facilis veritatis, aliquam quam similique soluta vel
                commodi?
            </p>
            <button>CTA</button>
        </div>

        <img src="https://via.placeholder.com/1024x700" alt="">

    </section>


    <section class="featured-items">

        <div>

            <img src="https://via.placeholder.com/300x450" alt="">

            <h2>Lorem ipsum dolor</h2>

        </div>
        <div>


            <img src="https://via.placeholder.com/300x450" alt="">
            <h2>Lorem ipsum dolor</h2>

        </div>
        <div>


            <img src="https://via.placeholder.com/300x450" alt="">

            <h2>Lorem ipsum dolor</h2>
        </div>
    </section>

    <section class="third-row-images">

        <img src="https://via.placeholder.com/700x450" alt="">
        <img src="https://via.placeholder.com/700x450" alt="">
    </section>



    <section class="icons">
        <img src="https://via.placeholder.com/40x40" alt=""><span>Gratis frakt och returer</span>
        <img src="https://via.placeholder.com/40x40" alt=""><span>Expressfrakt</span>
        <img src="https://via.placeholder.com/40x40" alt=""><span>Säkra betalningar</span>
        <img src="https://via.placeholder.com/40x40" alt=""><span>Nyheter varje dag</span>


    </section>

